@CHARSET "UTF-8";

.center {
	position: relative;
	margin: 5% auto;
	padding: 0 0;
	max-width: 500px;
}

.ui-panelgrid {
	width: 100%;
}

.ui-panelgrid td, .ui-panelgrid tr {
	border-style: none !important;
}